.pitr {
    text-align: left;
    z-index: 23;
    width: 100% !important;
    color: #fff;
    font-family: cursive;
    display: grid;
    align-content: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.658), #09250a), url(istockphoto-914023028-612x612.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-position: center ;
    padding-top: 50px;
  }
  body{
    background-color: #b0d1a646 !important; 
    width: 100% !important;
    overflow-x: hidden !important;
  }
  .flex{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .flex-container{
    height: 250px;
    border-top: 3px solid rgb(15, 216, 15);
    border-radius: 20px;
    background-color: #eee;
    width: 300px;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 90%);
  }
  .img{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  .numb{
    display: flex;
    justify-content: flex-end;
  padding: 16px;
  margin-left: 230px;
  margin-top:60px ;
  background: rgb(19, 102, 2);
  border-radius: 50px;
  box-shadow: 0 0 10px rgb(1, 136, 30);
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  border: none;
  margin-bottom: 10px;
  animation: slideLeft 1s ease forwards;
  animation-delay: 2s;

  }
  .numb:hover{
    background-color: white;
    color: #4caf50;
  }