body{
  background-color: #b0d1a646 !important; 
}
.pic {
    text-align: left;
    color: #fff;
    font-family: cursive;
    display: grid;
    align-content: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.658), #4caf50), url(istockphoto-1366391046-612x612.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center ;
    padding-top: 50px;
  }
  .txtt{
    display: flex;
    
    align-content: center;
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .container.gallery-container {
    background-color: #b0d1a646;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}
.jumb{
    margin-top: 20px;
    background-color: hsl(0deg 0% 82%);
    margin-bottom: 60px;
}
h1{
    font-weight: 700;
}
.ward{
    
    width: 100%;
    height: 40vh;
}
.dyla{
   
    
    margin-top: -50px !important;
}
.img-thumbnail{
    margin-top: 30px;

    margin-bottom: 40px;
}
@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
