
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100% !important;
  overflow-x: hidden !important;
}
.style{
  background-color:  #b0d1a646;
}
.abt{
  background-color: #ffffff;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  gap: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.imagg{
  height: 67vh;
  width: 36vw;
  border-radius: 10px;
}
.sectr{
  padding-top: 30px;
}
.space{
  padding-top: 20px;
}
.spac{
  width:40vw ;
  color: #9e9e9e;
  padding-top: 20px;
}
.box{
  color: #727272;
  background: #eee;
  border-radius: 15px;
  padding: 25px;
  width: 40vw;
  margin-top: 20px;
  border-bottom: 4px solid rgb(8, 151, 8);
}
.pic {
  text-align: left;
  color: #fff;
  font-family: cursive;
  display: grid;
  align-content: center;
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.575)), url("larm-rmah-AEaTUnvneik-unsplash.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center ;
  border-radius: 0px 0px 250px 0px;
  padding: 0px;
}

.txt{
  font-family: cursive;
  padding-top: 60px;
  font-size: 50px;
  padding-left: 70px;
}
.txt2{
  padding-left: 70px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.781);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.btn{
  background-color: #0f9b0f ;
  color: #fff;
  height: 50px;
  border-radius: 20px 0px 20px 0px;
  padding: 13px;
  font-size: 17px;
  margin-left: 70px;
  margin-top: 30px;
  width: 190px;
  border: none;
}

.btn:hover{
  background-color: #fff;
  color: #187a0b;
}

.inf{
  display: grid;
  align-content: center;
}
.btnn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f9b0f ;
  color: #fff;
  height: 50px;
  border-radius: 20px 0px 20px 0px;
  padding: 20px;
  font-size: 17px;
  margin-top: 12px;
  border: none;
}

.btnn:hover{
  background-color: #fff;
  color: #187a0b;
}
.btni{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f9b0f ;
  color: #fff;
  height: 50px;
  border-radius: 20px 0px 20px 0px;
  padding: 20px;
  font-size: 17px;
  margin-top: 17px;
  border: none;
}

.btni:hover{
  background-color: #fff;
  border: 2px solid rgb(6, 196, 6);
  color: #187a0b;
}
 .background{
    margin-left: -30px;
    background-color: #fff;
  }
  .btno:hover{
    background-color: white;
    color: #20ca1a;
    border: 2px solid #20ca1a ;
  }
@media (min-width: 1024px){
}
@media screen and (max-width: 1119px){
  
}
  @media screen and (max-width: 700px){
   .pic{
    height: 80vh;
   }
  .txt{
    font-size: 50px;
  }
  .txt2{
    font-size: 20px;
  }
  .background{
    margin-left: -30px;
  }
}
@media screen and (max-width: 700px){
  .txt{
    font-size: 30px;
  }
  .txt2{
    font-size: 20px;
  }
  .btn{
    padding: 5px;
    width: 100;
  }
  .btno{
    border: none;
    color: #e4dede;
    background-color: #20ca1a;
   
    width: 60% !important;
  }
  .btno:hover{
    background-color: white;
    color: #20ca1a;
    border: 2px solid #20ca1a ;
  }
  .btr{
    margin-top: 19px;
    display: flex;
    padding-bottom: 65px;
    justify-content: center;
  
  }
}
.wrappe {
  width: 100vw;
  margin: 0 auto;
  height: 400px;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.x{
  font-size: 19px;
}
.txttt{
  font-size: 15px;
  padding-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.txtt{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #aaaaaa !important;
  font-size: 15px;
}
.btno{
  border: none;
  color: #e4dede;
  background-color: #20ca1a;
  padding: 10px 10px 10px 10px;
  width: 16%;
}
.btr{
  
  margin-top: 19px;
  display: flex;
  justify-content: center;

}
.poc {
  text-align: left;
  width: 100% !important;
  color: #fff;
  font-family: cursive;
  display: grid;
  align-content: center;
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.658), #1d1d1de0), url(austin-kehmeier-lyiKExA4zQA-unsplash.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  margin-top: -40px;
  background-position: center ;
  
}

@media screen and (max-width: 767px) {
  .wrappe {
    height: 700px;
    z-index: 0px;
  }
}

@media screen and (max-width: 847px) {
  .abt{
    margin-top: 30px;
    display: block;
    
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  }

  
  .imagg{
    height: 30vh;
    width: 80vw;
    border-radius: 10px;
  }
  .sectr{
    padding-top: 30px;
  }
  .space{
    padding-top: 20px;
  }
  .spac{
    width:80vw ;
    color: #9e9e9e;
    padding-top: 20px;
  }
  .x{
    font-size: 19px;
  }
  .box{
    
    color: #727272;
  background: #eee;
    border-radius: 15px;
    padding: 25px;
    width: 80vw;
    margin-top: 20px;
    border-bottom: 4px solid rgb(8, 151, 8);
  }
}
.conten {  
  width: 100%;
  
  background-color: #b0d1a646;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .txtt{
    display: block !important;
    margin-top: 90px;
    color:rgb(10, 197, 10);
  }
}
.txtt{
  display: block !important;
  
  color:rgb(10, 197, 10);
}
@media screen and (max-width: 767px) {
  .conten {
    background-color: #b0d1a646;
    padding-top: 40px;
    flex-wrap: wrap;
    z-index: 1;
    flex-direction: column;
  }
}
.card {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  height: 250px;
  background-color: #727272;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #9b0606 0%, #20ca1a 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}


.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card:hover {
  height: 270px;
}

.card:hover .info {
  height: 90%;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .icon i {
  background: linear-gradient(90deg, #4e4e4e, #36db0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}